// Dyslexia font
@font-face {
  font-family: 'opendys';
  src: url('index.php?pf=a11yConfig/lib/css/fonts/opendyslexic-regular-webfont.woff2') format('woff2'), url('index.php?pf=a11yConfig/lib/css/fonts/opendyslexic-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Button as an image
body:not(.a42-ac-inv-contrast):not(.a42-ac-high-contrast):not(.a42-ac-text-img) {
  #accessconfig.a11yc-vd, #accessconfig.a11yc-wc {
    button {
      border: none;
      width: 2.5em;
      height: 2.5em;
      background-size: 2.5em 2.5em;
      margin: .5em;
      overflow: hidden;
      color: transparent;
      &:hover, &:active {
        cursor: pointer;
      }
    }
  }
  #accessconfig.a11yc-vd button {
    background-image: url(index.php?pf=a11yConfig/img/visual-deficiency.svg), none;
  }
  #accessconfig.a11yc-wc button {
    background-image: url(index.php?pf=a11yConfig/img/wheelchair.svg), none;
  }
}

// Button
div#accessconfig:not(.widget) {
  margin: 0 .5em;
}
